<!DOCTYPE html>

<html>
    <head>
        <title>Lobby erstellen</title>
        
        <style type="text/css">
            /* Inline minimal css for initial rendering */
            body {
                background: #242436;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="createLobby.css">
    </head>
    
    <body>
        <form class="create-lobby-form" action="/createLobbyPost" method="post">
            <div class="password-text">Lobby-Code:<br></div>
            <div class="created-password"><%= password %></div>
            <div class="game-length-text">Spieldauer in Minuten: </div>
            <input class="js-game-length-slider game-length-slider" type="range" name="gameLengthMin" min="5" max="20" value="8">
            <div class="js-game-length game-length-number">8</div>
            <div><button class="create-lobby-button" type="submit">Lobby erstellen</button></div>
        </form>
        <script src="lobbyCreationSlider.js"></script>
    </body>
</html>