<!DOCTYPE html>

<html>
    <head>
        <title>Error 404</title>
        
        <style type="text/css">
            /* Inline minimal css for initial rendering */
            body {
                background: #242436;
            }
        </style>
              
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="error.css">
    </head>
    
    <body>
        <div class="error-container">
            <h1>Error 404: Seite nicht gefunden!</h1>
        </div>
    </body>
</html>