<!DOCTYPE html>

<html>
    <head>
        <title>Registrierung</title>
        
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    
    <body>
        <div>Hallo, du bist eingeloggt</div>
    </body>
</html>