<!DOCTYPE html>

<html>
    <head>
        <title>Home</title>
        
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
    
    <body>
        <div>Hallo, du bist eingeloggt</div>
        <form action="/createLobby" method="get">
            <button type="submit">Lobby erstellen</button>
        </form>
        <form action="/joinLobbyPost" method="post">
            <input type="text" name="lobbyPassword" maxlength="4" placeholder="Passwort für Lobby" required/>
            <button type="submit">Lobby beitreten</button>
        </form>
    </body>
</html>