<!DOCTYPE html>

<html>
    <head>
        <title>Lobby</title>
        
        <style type="text/css">
            /* Inline minimal css for initial rendering */
            body {
                background: #242436;
            }
        </style>
        
        <link rel="stylesheet" type="text/css" href="lobby.css">
        <link rel="stylesheet" type="text/css" href="game.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script>
            let socket = io();
        </script>
    </head>
    
    <body>
        <div class="js-lobby-content lobby-content">
            <div class="js-lobby-password lobby-password"><%= lobbyPassword %></div>
            <div class="js-lobby-nickname-list lobby-nickname-list"></div>
            <input class="js-lobby-nickname lobby-nickname" type="text" name="username" placeholder="Nickname">
            <button class="js-lobby-button-ready lobby-button lobby-button-ready lobby-button-ready-disabled" type="button">Bereit!</button>
            <button class="js-lobby-button-start lobby-button lobby-button-start lobby-button-start-disabled not-displayed" disabled>Start!</button>
            <div class="js-lobby-ready-counter lobby-ready-counter">0/0</div>
            <form action="/leaveLobby" method="get">
                <button class="lobby-button-leave" type="submit">Lobby verlassen</button>
            </form>
        </div>
        <div class="js-game-content not-displayed">
            <div class="js-game-name"></div>
            <div class="js-game-place"></div>
            <div class="js-game-role">Du bist </div>
            <div class='js-game-timer'></div>
            <div class="js-game-order">Fragenreihenfolge: </div>
            <div class="js-game-checklist"></div>
            <div><button class="js-game-button-question" type="button">Beispielfrage anfordern</button></div>
            <div class="js-game-button-start-vote-container"><button class="js-game-button-start-vote" type="button">Abstimmung starten</button>
            </div>
            <div><button class="js-game-button-vote game-button game-button-vote game-button-vote-disabled" type="button" disabled>Stimme abgeben</button></div>
        </div>
        <div class="js-end-screen end-screen-container not-visible">
            <div class="end-screen">
                <div class="js-end-screen-result"></div>
                <div class="js-end-screen-witch"></div>
                <div class="js-end-screen-right-guess"></div>
                <div class="js-end-screen-vote-time"></div>
                <form action='/' method="post">
                    <button type="submit">Fertig</button>
                </form>
            </div>
        </div>
        <script defer src="lobby.js"></script>
    </body>
</html>