<!DOCTYPE html>

<html>
    <head>
        <title>Lobby</title>
        
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="lobby.css">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
        <script>
            let socket = io();
        </script>
    </head>
    
    <body>
        <div class="js-lobby-content">
            <div class="js-lobby-password"><%= lobbyPassword %></div>
            <div class="js-nickname-list"></div>
            <input class="js-nickname" type="text" name="username" placeholder="Nickname">
            <button class="js-button-ready lobby-button lobby-button-ready" type="button">Bereit!</button>
            <button class="js-button-start lobby-button lobby-button-start lobby-button-start-disabled not-displayed" disabled>Start!</button>
            <div class="js-ready-counter">0/0</div>
            <form action="/leaveLobby" method="get">
                <button type="submit">Lobby verlassen</button>
            </form>
        </div>
        <div class="js-game-content not-displayed">
            <div>Tob' dich aus Lampboy</div>
            <div class='js-lobby-timer'></div>
        </div>
        <script src="lobby.js"></script>
    </body>
</html>