<!DOCTYPE html>

<html>
    <head>
        <title>Lobby</title>
        
        <style type="text/css">
            /* Inline minimal css for initial rendering */
            body {
                background: #242436;
            }
        </style>
        
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="buttons.css">
        <link rel="stylesheet" type="text/css" href="lobby.css">
        <link rel="stylesheet" type="text/css" href="game.css">
        
        <script 
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js">
        </script>
    </head>
    
    <body>
        <div class="js-lobby-content lobby-content">
            <div class="js-lobby-password lobby-password"><%= lobbyPassword %></div>
            <div class="js-lobby-nickname-list lobby-nickname-list"></div>
            <div class="lobby-button-container">
                <input class="js-lobby-nickname lobby-nickname" type="text" name="username" placeholder="Nickname">
                <button class="js-lobby-button-ready button-toggle" type="button">Bereit</button>
                <button class="js-lobby-button-start button-click not-displayed" disabled>Spiel starten</button>
            </div>
            <div class="js-lobby-ready-counter lobby-ready-counter">0/0</div>
            <form action="/leaveLobby" method="get">
                <button class="button-click button-click-dark" type="submit">Lobby verlassen</button>
            </form>
        </div>
        
        <div class="js-game-content not-displayed game-content">
            <div class="js-game-name game-name"></div>
            <div class="js-game-place game-place">Ort:</div>
            <div class="js-game-role game-role">Du bist </div>
            <div class='js-game-timer game-timer'></div>
            <div class="game-order">Fragenreihenfolge: 
                <div class="js-game-order"></div>
            </div>
            <div class="js-game-checklist game-checklist"></div>
            <div>
                <button class="js-game-button-question button-click" type="button">Beispielfrage anfordern</button>
                <div class="js-game-button-start-vote-container"><button class="js-game-button-start-vote button-click" type="button">Abstimmung starten</button>
                </div>
                <div><button class="js-game-button-vote button-click button-click-dark" type="button" disabled>Stimme abgeben</button></div>
            </div>
        </div>
        <div class="js-info-overlay info-screen-container not-visible">
            <div class="info-screen">
                <div class="js-info-overlay-info"></div>
                <button class="js-info-overlay-button button-click" type="button">Ok!</button>
            </div>
        </div>
        <div class="js-end-screen info-screen-container not-visible">
            <div class="info-screen">
                <div class="js-end-screen-result"></div>
                <div class="js-end-screen-witch"></div>
                <div class="js-end-screen-right-guess not-displayed"></div>
                <div class="js-end-screen-place"></div>
                <div class="js-end-screen-vote-time"></div>
                <form action='/' method="post">
                    <button class="button-click" type="submit">Fertig</button>
                </form>
            </div>
        </div>
        <script defer src="lobby.js"></script>
    </body>
</html>