<!DOCTYPE html>

<html>
    <head>
        <title>Anmeldung</title>
        
        <style type="text/css">
            /* Inline minimal css for initial rendering */
            body {
                background: #242436;
            }
        </style>
        
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="login.css"> 
        <link rel="stylesheet" type="text/css" href="buttons.css">
    </head>
    
    <body>
        <div class="login-container">
            <div class="login-form-container">
                <div class="logo">
                    <img src="../img/logo_new.png">
                </div>
                <form class="login-form" action="/loginPost" method="post">
                    <div class="login-info"><%= info %></div>
                    <input type="text" value="<%= usernameValue %>" name="username" placeholder="Nutzername" required/>
                    <input type="password" name="password" placeholder="Passwort" required/>
                    <button class="button-click" type="submit">Anmelden</button>
                </form>
                <form class="login-form login-form-register" action="/register" method="get">
                    <button class="button-click" type="submit">Registrieren</button>
                </form>
            </div>
            <div class="login-explanation-container">
                <h1>WitchOne - Wer ist die Hexe?</h1>
                <div>
                    <h3><br>Übersicht</h3>
                    <div>In diesem Spiel wird euch pro Spiel ein zufälliger Ort zugeteilt.<br>
                    Jeder Spieler erhält dazu einen passenden Beruf bzw. eine Rolle.<br>Ein Spieler ist die Hexe, die nicht weiß an welchem Ort ihr euch befindet.<br>
                    Durch gut gestellte Fragen müssen die Spieler die Hexe enttarnen<br>und die Hexe im Gegenzug herausfinden, wo ihr seid. Wer zuerst<br>die Lösung kennt, gewinnt.</div>
                    <h3><br>Voraussetzungen</h3>
                    <div class="login-explanation-list">
                    Ihr seid 3 oder mehr Spieler.<br>
                    Ihr befindet euch zusammen an einem Ort.<br>
                    Jeder von euch besitzt ein Smartphone oder<br>ein anderes technisches Gerät mit Internetzugang.<br>
                    </div>
                </div>
                <div>
                    <h3><br>Ziel des Spiels</h3>
                    <div class="login-explanation-list">
                    Durch gut gestellte Fragen müssen die Spieler die Hexe enttarnen.<br>
                    Die Hexe muss im Gegenzug herausfinden, an welchem Ort ihr euch befindet.
                    <h3><br>Spielablauf</h3>
                    <div class="login-explanation-list">
                    Durch eine vorgegebene Zugreihenfolge stellt ihr euch nacheinander<br>
                    jeweils eine Frage. Am besten stellt ihr Fragen, die euch gut abschätzen<br>lassen, ob euer Mitspieler die Hexe sein könnte oder nicht.<br>Falls euch nichts einfällt, gibt es Beispielfragen, an denen ihr euch<br>orientieren könnt.
                    </div>
                    <h3><br>Spielende</h3>
                    <div class="login-explanation-list">
                    Sobald ihr euch sicher seid, wer die Hexe ist bzw. an welchem Ort<br>ihr euch befindet, startet ihr die Abstimmung.<br>Alle anderen haben nun eine Minute Zeit ihre Schätzung abzugeben,<br>danach wird das Ergebnis entschieden.
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>