<!DOCTYPE html>

<html>
    <head>
        <title>Anmeldung</title>
        
        <link rel="stylesheet" type="text/css" href="login.css">
    </head>
    
    <body>
        <div class="login-info"><%= info %></div>
        <form action="/loginPost" method="post">
            <input type="text" value="<%= usernameValue %>" name="username" placeholder="Nutzername" required/>
            <input type="password" name="password" placeholder="Passwort" required/>
            <button type="submit">Anmelden</button>
        </form>
        <form action="/register" method="get">
            <button type="submit">Registrieren</button>
        </form>
        <div>
        <div>Vorbereitung:
-Ihr benötigt mindestens 3 Spieler.
 -Setzt euch in einer Runde zusammen. 
-Jeder Spieler benötigt einen Computer oder ein Smartphone mit Internetzugang.
            </div>
            <div>Der Ablauf:
-Alle Spieler bekommen eine Rolle zugeteilt.
-Ein Spieler bekommt die Rolle der Hexe zugeteilt und erhält keine weiteren Informationen.
-Alle anderen Spieler bekommen eine Location und eine zu dieser passenden Rolle zugeteilt.
-Ziel der Hexe: Finde heraus, an welchem Ort sich deine Freunde Befinden und versuche dabei nicht aufzufallen.
-Ziel der anderen Spieler: Findet heraus, wer von euch die Hexe ist!
-Jeder Spieler ist nach der Reihe dran und darf einem beliebigen Spieler seiner Wahl eine Frage stellen. 
 -Die Fragen sollten am besten zur Location oder der Rolle des Spielers gestellt werden. Wenn ihr Schwierigkeiten dabei habt die richtigen Fragen zu finden, nutzt unseren Fragen Generator.

-Wenn die Hexe sich sicher ist, in welcher Location sich die Spieler befinden, kann sie diese abschicken.

-Wenn die anderen Spieler sich sicher sind, wer die Hexe ist, kann von jedem Spieler eine Abstimmung gestartet werden. Diese kann jederzeit gestartet werden, ist aber endgültig. Am Ende entscheidet die Mehrheit.
</div>
            <div>Das Spiel endet wenn: 
-Die Hexe herausgefunden hat, an welchem Ort sich die Spieler befinden.
-Die anderen Spieler herausfinden, wer die Hexe ist.
-Die Hexe nach Ablauf einer vordefinierten Zeit nicht entlarvt wurde
-Die Spieler die falsche Person als Hexe beschuldigen.
</div>

        </div>
    </body>
</html>