<!DOCTYPE html>

<html>
    <head>
        <title>Registrierung</title>
        
        <style type="text/css">
            /* Inline minimal css for initial rendering */
            body {
                background: #242436;
            }
        </style>
              
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="login.css"> 
        <link rel="stylesheet" type="text/css" href="buttons.css">
    </head>
    
    <body>
        <div class="login-container-register">
            <h1>Registrierung</h1>
            <div class="login-form-container-register">
                <div class="login-info"><%= info %></div>
                <form class="login-form" action="/registerPost" method="post">
                    <input type="text" value="<%= usernameValue %>" name="username" placeholder="Nutzername" required/>
                    <input type="password" name="password" placeholder="Passwort" required/>
                    <input type="password" name="confPassword" placeholder="Passwort bestätigen" required/>
                    <input type="email" name="email" placeholder="Email" required/>
                    <button class="button-click" type="submit">Registrieren</button>
                </form>
            </div>
        </div>
    </body>
</html>