/* 
<<<<<<< HEAD
main: #7F74AF
another shade: #7980C6
dark blue gray: #3B3B58
blue: #228CDB
bordeaux: #82204A

used in login.css
background: #242436
text: #9999E4
placeholder: #9595B1
highlight: #EEEEFE
=======
background: #242436;
(text) color: #9999E4;
(highlight) color: #EEEEFE;
(placeholder) color: #9595B1;
(button) background: #9999E450;
>>>>>>> 1c48525fc4c1ceb1fe23339e74f237580b1e3ead
*/
