color: #82204A /*bordeaux*/

background: #242436;
color: #9999E4; /*text*/
color: #5DA7CB /*second text*/
color: #EEEEFE; /*highlight*/
color: #9595B1; /*placeholder*/
background: #9999E450; /*button*/
