body {
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    font-family: Calibri Light, Calibri, 'Open Sans', sans-serif;
    text-align: center;
}

.create-lobby-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    margin-top: 4rem;
}

.password-text {
    color: #EEEEFE;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.created-password {
    color: #9999E4;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem;
}
.game-length-text {
    color: #EEEEFE;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.game-length-slider {
    
}

.game-length-number {
    color: #228CDB;
    width: 2rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0rem 3rem;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.create-lobby-button {
    font-size: 1.5rem;
    width: 20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #EEEEFE;
    background: #9999E450;
    border-color: #EEEEFE;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}
.create-lobby-button:hover {
    color: #228CDB;
    border-color: #9999E4;
    background-color: #3B3B58;
    transition: color 0.1s ease, border-color 0.1s ease;
}