.not-displayed {
    display: none !important;
    pointer-events: none !important;
}

.not-visible {
    opacity: 0 !important;
    pointer-events: none !important;
}

.game-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 98vh;
    min-width: 45rem;
    margin: 0 auto;
}

.game-name {
    color: #5DA7CB;
    font-weight: auto;
    font-size: 2.5rem;
    font-weight: bold;
}

.game-place {
    color: rgba(153, 153, 228, 0.33);
    font-size: 3rem;
    font-weight: bold;
}

.game-role {
    color: #EEEEFE;
    font-weight: auto;
    font-size: 2rem;
}

.game-timer {
    color: #5DA7CB;
    font-weight: auto;
    font-size: 2.5rem;
    font-weight: bold;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem;
}
.game-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EEEEFE;
    font-size: 1.75rem;
}

.game-checklist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 41rem;
}

.info-screen-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    min-width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    transition: opacity 0.2s ease;
}

.info-screen {
    background-color: #242436;
    min-width: 45rem;
    max-width: 80vw;
    height: auto;
    border: 1px solid #EEEEFE;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.info-screen > button, .info-screen form {
    margin-bottom: 2rem;
} 

.info-screen div {
    color: #EEEEFE;
    font-size: 1.5rem;
    margin: 2rem;
}

@media only screen and (max-device-width: 420px) {
    .game-content {
        min-width: 0;
    }
    
    .game-place {
        height: 0;
    }
    
    .game-checklist {
        max-width: 20.3rem;
    }
    
    .info-screen-container {
        min-width: 0;
    }
    
    .info-screen {
        min-width: 0;
    }
    
    .info-screen div {
        text-align: center;
        white-space: normal;
    }
}