.not-displayed {
    display: none !important;
    pointer-events: none !important;
}

.not-visible {
    opacity: 0 !important;
    pointer-events: none !important;
}

/* GAME-SEITE */

.game-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.game-name {
    color: #5DA7CB;
    font-weight: auto;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem;
}

.game-place {
    color: rgba(153, 153, 228, 0.33);
    /*color: #82204A;*/
    font-size: 3rem;
    font-weight: bold;
}

.game-role {
    color: #EEEEFE;
    font-weight: auto;
    font-size: 2rem;
}

.game-timer {
    color: #5DA7CB;
    font-weight: auto;
    font-size: 2.5rem;
    font-weight: bold;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem;
}
.game-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EEEEFE;
    font-size: 1.75rem;
}

.game-checklist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 41rem;
}

.end-screen-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    transition: opacity 0.2s ease;
}

.end-screen {
    background-color: #242436;
    min-width: 60vw;
    max-width: 80vw;
    height: auto;
    border: 1px solid #EEEEFE;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.end-screen div {
    color: #EEEEFE;
    font-size: 1.5rem;
    margin: 2rem;
}

.end-screen form {
    margin: 2rem 0;
}

@media only screen and (max-device-width: 420px) {
    .game-content {
        justify-content: space-around;
    }
    
    .game-place {
        height: 0;
    }
    
    .game-checklist {
        max-width: 20.3rem;
    }
    
    .end-screen div:nth-child(5) {
        text-align: center;
        white-space: normal;
    }
}