.not-displayed {
    display: none;
    pointer-events: none;
}

.not-visible {
    opacity: 0;
    pointer-events: none;
}

/* GAME-SEITE */

.game-content {
    text-align: center;
}

.game-name {
    color: #228CDB;
    font-weight: auto;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3rem;
    padding: 0.5rem;
}

.game-place {
    color: #82204A;
    margin: 1.5rem;
    font-size: 3rem;
    font-weight:bold;
}

.game-role {
    color: whitesmoke;
    margin: 2rem;
    font-size: 1.5rem;
}

.game-timer {
    color: #228CDB;
    font-weight: auto;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3rem;
    padding: 0.5rem;
}

.game-order {
    color: whitesmoke;
    margin: 1.5rem;
    font-size: 1.5rem;
}

/* Auswahl der Spieler */
.game-checklist {
    color: whitesmoke;
    margin: 1.5rem;
}

/* "Beispielfrage anfordern" */
.game-button-question {
    background-color: #3B3B58;
    font-size: 1rem;
    font-weight: lighter;
    width: 20rem;
    margin: 1.5rem;
    padding: 0.5rem;
    color: white;
    background: #9999E450;
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}
.game-button-question:hover {
    color: #228CDB;
    border-color: #9999E4;
    background-color: #3B3B58;
    transition: color 0.1s ease, border-color 0.1s ease;
}

/* "Abstimmung starten" */
.game-button-start-vote {
    background-color: #3B3B58;
    font-size: 1rem;
    font-weight: lighter;
    width: 20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    background: #2D2D44;
    border-color: #9999E450;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}
.game-button-start-vote:hover {
    color: #9999E4;
    border-color: #9999E4;
    transition: color 0.1s ease, border-color 0.1s ease;
}

/* "Stimme abgeben" */
.game-button-vote {
    background-color: #3B3B58;
    font-size: 1rem;
    font-weight: lighter;
    width: 20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    background: #2D2D44;
    border-color: #9999E450;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}
.game-button-vote:hover {
    color: #9999E4;
    border-color: #9999E4;
    transition: color 0.1s ease, border-color 0.1s ease;
}
.game-button-vote-disabled {
    
}

.end-screen-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    transition: opacity 0.2s ease;
}

.end-screen {
    background-color: #242436;
    min-width: 60vw;
    height: auto;
    border: 1px solid #EEEEFE;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.end-screen div {
    color: #EEEEFE;
    font-size: 1.5rem;
    margin: 2rem;
}

.end-screen form {
    margin: 2rem 0;
}