body {
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    font-family: Calibri Light, Calibri, 'Open Sans', sans-serif;
    text-align: center;
}

.home-welcome-text {
    color: #EEEEFE;
    font-size: 2rem;
    font-weight: bold;
}
.home-password-input {
    padding: 1rem;
    text-align: center;
    color: #5DA7CB;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    width: 17.9rem;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}

.home-button-logout {
    background-color: #9999E430 !important;
    background: #2D2D44 !important;
}

/* STATISTIKEN */
.home-statistics-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #EEEEFE;
    font-size: 1.5rem;
    width: 28rem;
    height: 14rem;
    margin: 2rem auto;
    border-top: 1px solid #EEEEFE;
    border-bottom: 1px solid #EEEEFE;
    padding: 1rem;
}
.home-statistics {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.home-statistics div:nth-child(1) {
    font-weight: bold;
}