.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.home-welcome-text {
    color: #EEEEFE;
    font-size: 2rem;
    font-weight: bold;
}

.join-lobby-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.join-lobby-form input {
    color: #5DA7CB;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: none;
    padding: 1rem 0.5rem;
    width: 16rem;
    margin-bottom: 2rem;
    border: #EEEEFE;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.join-lobby-form input::placeholder {
    color: #9595B1;
}

.join-lobby-form input::-webkit-input-placeholder {
    color: #9595B1;
}

.join-lobby-form input::-moz-placeholder {
    color: #9595B1;
}

.join-lobby-form input::-ms-input-placeholder {
    color: #9595B1;
}

.join-lobby-form input:-moz-placeholder {
    color: #9595B1;
    text-align: center;
}

.home-button-logout {
    background-color: #9999E430 !important;
    background: #2D2D44 !important;
}

/* STATISTIKEN */
.home-statistics-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #EEEEFE;
    font-size: 1rem;
    /*width: 28rem;*/
    width: 30rem;
    height: 14rem;
    margin: 2rem auto;
    border-top: 1px solid #EEEEFE;
    border-bottom: 1px solid #EEEEFE;
    padding: 1rem;
}
.home-statistics {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.home-statistics div:nth-child(1) {
    font-weight: bold;
}

.home-statistics div:nth-child(2) {
    color: #9999E4;
}