body {
    font-family: Calibri Light;
    background: #242436;
}

/*  LOBBY-SEITE */
.lobby-content {
    text-align: center;
}

.lobby-password {
    color: #7F74AF;
    font-weight: bold;
    font-size: 3rem;
    margin: 3rem;
}

/* NAMENSLISTE DER SPIELER */
.lobby-nickname-list {    
    color: #228CDB;
    font-weight: auto;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 3rem;
    padding: 0.5rem;
}

/* EINGABEFELD SPIELERNAME */
.lobby-nickname {
    padding: 1rem;
    text-align: center;
    color: #3B3B58;
    font-size: 1.5rem;
    margin: 1.5rem;
    width: 25rem;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}

/* Bereit-Button */
.lobby-button-ready {
    background-color: #3B3B58;
    font-size: 1rem;
    font-weight: lighter;
    width: 20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    background: #9999E450;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}
.lobby-button-ready:hover {
    color: #228CDB;
    border-color: #9999E4;
    background-color: #3B3B58;
    transition: color 0.1s ease, border-color 0.1s ease;
}
/* Bereit-Button: bereits aktiviert */
.lobby-button-ready-active {
    background-color: #242436; /* Hintergrundfarbe */
    border-color: #2D2D44; /* Hintergrundfarbe etwas heller */
    color: #2D2D44; 
}
/* Start-Button */
.lobby-button-start {
    background-color: #3B3B58;
    font-size: 1rem;
    font-weight: lighter;
    width: 20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    background: #9999E450;
    border-color: darkgrey;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}
/* Start-Button: noch NICHT benutzbar */
.lobby-button-start-disabled {
    background-color: #242436; /* Hintergrundfarbe */ 
    border-color: #2D2D44; /* Hintergrundfarbe etwas heller */
    color: #2D2D44; /* Hintergrundfarbe etwas heller */
}
/* Start-Button BENUTZBAR: AKTIV */
.lobby-button-start:active:enabled {
    color: white; 
    background: #9999E450;
    border-color: #EEEEFE;
}
.lobby-button-start:enabled:hover {
    color: #228CDB;
    border-color: #9999E4;
    background-color: #3B3B58;
    transition: color 0.1s ease, border-color 0.1s ease;
}

.lobby-ready-counter {
    font-family: Calibri Light;
    color: #228CDB;
    margin: 2rem;
    font-size: 2rem;
    font-weight: bold;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.lobby-button-leave {
    background-color: #3B3B58;
    font-size: 1rem;
    font-weight: lighter;
    width: 20rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    background: #2D2D44;
    border-color: #9999E450;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}
.lobby-button-leave:hover {
    color: #9999E4;
    border-color: #9999E4;
    transition: color 0.1s ease, border-color 0.1s ease;
}

/*
main: #7F74AF
another shade: #7980C6
blue: #228CDB
blue gray: #242436  =  Hintergrundfarbe
lighter blue gray: #2D2D44
bordeaux: #82204A
*/