.lobby-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 98vh;
}

.lobby-password {
    color: #9999E4;
    font-weight: bold;
    font-size: 3rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem;
}

.lobby-nickname-list {    
    color: #EEEEFE;
    font-size: 1.75rem;
    font-weight: bold;
    min-height: 12rem;
    padding: 0.5rem;
}

.lobby-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lobby-nickname {
    color: #5DA7CB;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: none;
    padding: 1rem 0.5rem;
    width: 16rem;
    margin-bottom: 2rem;
    border: 2px solid #EEEEFE;
    border-radius: 5px;
}

.lobby-nickname::placeholder {
    color: #9595B1;
}

.lobby-nickname::-webkit-input-placeholder {
    color: #9595B1;
}

.lobby-nickname::-moz-placeholder {
    color: #9595B1;
}

.lobby-nickname::-ms-input-placeholder {
    color: #9595B1;
}

.lobby-nickname:-moz-placeholder {
    color: #9595B1;
    text-align: center;
}

.lobby-ready-counter {
    color: #5DA7CB;
    font-size: 1.75rem;
    font-weight: bold;
}