body {
    font-family: Helvetica;
}

.lobby-button {
    color: black;
    border: 1px solid black;
    transition: color 0.2s ease, background-color 0.2s ease;
}


/* STYLING DER LOBBY-SEITE GESAMT */
.lobby-content {
    text-align: center;
}

/* LOBBY-PASSWORT */
.lobby-password {
 /* Schrift */
    color: #7F74AF;
    font-weight: bold;
    font-size: 3rem;
    margin: 3rem;
}

/* NAMENSLISTE DER SPIELER */
.lobby-nickname-list {    
    color: #3B3B58;
    font-weight: lighter;
    font-size: 2rem;
    font-style: bold;
    margin: 3rem;
}

.lobby-button-ready-disabled {
    color: gray;
}

.lobby-button-ready-active {
    background-color: #7f74af;
}
/* EINGABEFELD SPIELERNAME */
.lobby-nickname {
    
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    text-align: center;
    color: #3B3B58;
    font-style: italic;
}

/* BEREIT + START BUTTONS */
.lobby-button {
    /* Bereit + Start-Button ungeklickt: Schrift */
    color: white;
    border: 1px solid balck;
    transition: background-color 0.2s ease;
    text-align: center;
}
/* Bereit + Start-Button geklickt: Schrift */
.lobby-button:active:enabled {
    color: white;
}
/* Bereit-Button ungeklickt: Hintergrund */
.lobby-button-ready {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
/* Bereit-Button geklickt: Hintergrund */
.lobby-button-ready-active {
    background-color: #3B3B58;
}
/* Start-Button, wenn Bereit-Button geklickt wurde */
.lobby-button-start {
    background-color: #3B3B58;
}
/* Start-Button ungeklickt: Hintergrund */
.lobby-button-start-disabled {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem;
}
/* Start-Button geklickt: Hintergrund */
.lobby-button-start:active:enabled {
    background-color: #3B3B58;
}

/* BEREIT-ZAEHLER */
.lobby-ready-counter {
    color: white;
    margin: 2rem;
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

/* LOBBY-VERLASSEN-BUTTON */
.lobby-button-leave {
    color: white;
    background-color: #7F74AF;
}

/*
main: #7F74AF
another shade: #7980C6
blue: #228CDB
blue gray: #3B3B58
bordeaux: #82204A
*/