/*  LOBBY-SEITE */
.lobby-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.lobby-password {
    color: #9999E4;
    font-weight: bold;
    font-size: 3rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0.5rem;
}

/* NAMENSLISTE DER SPIELER */
.lobby-nickname-list {    
    color: #EEEEFE;
    font-size: 1.75rem;
    font-weight: bold;
    min-height: 18rem;
    padding: 0.5rem;
}

.lobby-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* EINGABEFELD SPIELERNAME */
.lobby-nickname {
    color: #5DA7CB;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background: none;
    padding: 1rem 0.5rem;
    width: 16rem;
    margin-bottom: 2rem;
    border: #EEEEFE;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

.lobby-nickname::placeholder {
    color: #9595B1;
}

.lobby-nickname::-webkit-input-placeholder {
    color: #9595B1;
}

.lobby-nickname::-moz-placeholder {
    color: #9595B1;
}

.lobby-nickname::-ms-input-placeholder {
    color: #9595B1;
}

.lobby-nickname:-moz-placeholder {
    color: #9595B1;
    text-align: center;
}

/* Bereit-Button */
.lobby-button-ready {
    background-color: #3B3B58;
    font-size: 1rem;
    font-weight: lighter;
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    color: white;
    background: #9999E450;
    border-color: darkgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px; 
}

.lobby-button-ready:hover {
    color: #228CDB;
    border-color: #9999E4;
    background-color: #3B3B58;
    transition: color 0.1s ease, border-color 0.1s ease;
}

/* Bereit-Button: bereits aktiviert */
.lobby-button-ready-active {
    background-color: #242436; /* Hintergrundfarbe */
    border-color: #2D2D44; /* Hintergrundfarbe etwas heller */
    color: #2D2D44; 
}

.lobby-ready-counter {
    color: #5DA7CB;
    font-size: 1.75rem;
    font-weight: bold;
}

@media only screen and (max-device-width: 420px) {
    .lobby-content {
        justify-content: space-around;
    }
}