.logo {
    margin: -8rem 0 -5rem 0;
    pointer-events: none;
}
.logo img {
    width: 30rem;
    height: auto;
}

.login-container, .login-container-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-form-container {
    margin-right: 2.2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 2rem;
}

.login-form input {
    font-size: 1rem;
    color: #5DA7CB;
    width: 16rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background: none;
    border-color: #EEEEFE;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;    
}

.login-form input::placeholder {
    color: #9595B1;
}

.login-form input::-webkit-input-placeholder {
    color: #9595B1;
}

.login-form input::-moz-placeholder {
    color: #9595B1;
}

.login-form input::-ms-input-placeholder {
    color: #9595B1;
}

.login-form input:-moz-placeholder {
    color: #9595B1;
    text-align: center;
}

.login-form-register {
    margin-top: 1.5rem;
}

.login-explanation-container {
    padding-left: 6rem;
    border-left: 1px solid #EEEEFE;
    color: #9999E4;
}

.login-explanation-container h1, h2 {
    margin-bottom: 1.5rem;
}

.login-explanation-container h3, h4 {
    margin: 0.5rem 0;
    color: #EEEEFE;
}

.login-explanation-list {
    margin-left: 1rem;
}

@media only screen and (max-device-width: 420px) {
    .login-container {
        flex-direction: column;
        margin: 5rem 0;
    }
    
    .login-form-container {
        margin-bottom: 2.2rem;
        margin-right: 0;
    }
    
    .login-explanation-container {
        padding-left: 0;
        padding-top: 2.2rem;
        border-left: none;
        border-top: 1px solid #EEEEFE;
    }
}