body {
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    font-family: Calibri Light, Calibri, 'Open Sans', sans-serif;
    white-space: nowrap;
}

h1, h2, h3, h4 {
    margin: 0;
}


*:not(input) {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

*:focus {
    outline:none !important
}

/*
color: #82204A bordeaux

background: #242436;
color: #9999E4; text
color: #5DA7CB second text
color: #EEEEFE; highlight
color: #9595B1; placeholder
background: #9999E450; button
*/